<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>Nulla porttitor accumsan tincidunt.</p>
            <ul class="footer-links">
              <li>
                <a href="#">
                  <i class="fa fa-map-marker"></i>152 - 158 Ham Nghi</a
                >
              </li>
              <li>
                <a href="#"> <i class="fa fa-phone"></i>+84123456789</a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-envelope-o"></i>shop@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><a href="#">Hot Deals</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Laptops</a></li>
              <li><a href="#">Smartphones</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Order and Return</a></li>
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="#">Account</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Tracking</a></li>
              <li><a href="#">Helps</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li>
              <a href="#"><i class="fa fa-cc-visa"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-credit-card"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-paypal"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-mastercard"></i></a>
            </li>
          </ul>
          <span class="copyright">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Webside made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Yuuki</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
